* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  overscroll-behavior: contain;
  -webkit-overscroll-behavior: contain;
}

p {
  margin: 0;
}

@keyframes blinking {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
}
